{% extends "bootstrap/base.html" %}

{% block title %}FastQC DB{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">FastQC DB</a>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid">
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}